{% extends "layout.html" %}
{% block image %}
<div class='tech' style="font-family: Arial;color: #000000;";>
	{% block additional_styles %}
	<style>
	   body {
		background-image: url("/static/technology.png");
	   }
	</style>
	{% endblock %}
    <ol>
        <li><h1>Tensorflow</h1></li>
        <li><h1>MobileNet_V2</h1></li>
		<li><h1>VGGNET19</h1></li>
		<li><h1>Sequential-CNN</h1></li>
        <li><h1>Flask</h1></li>
        <li><h1>Jinja Templates</h1></li>
        <li><h1>HTML5<h1></li>
        <li><h1>CSS</h1></li>
        <li><h2 style="text-decoration: underline; font-weight: bold;">Libraries:</h2></li>
        <ul>
            <li><h3>OpenCV</h3></li>
            <li><h3>Numpy</h3></li>
            <li><h3>Tensorflow Keras</h3></li>
			<li><h3>Pandas</h3></li>
			<li><h3>Matplotlib</h3></li>
        </ul>

    </ol>
    
    
</div>
{% endblock%}